[Unit]
Description=Github Release Watch Discord Bot
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/release_watch
ExecStart=/home/ubuntu/release_watch/venv/bin/release_watch
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

